*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    width: 550px;
    justify-content: space-around;
}